<!-- Matomo (noscript) -->
<noscript><p><img src="//{$this->parameters[self::INDEX]['url']}/piwik.php?idsite={$this->parameters[self::INDEX]['siteId']}&rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Matomo (noscript) -->
